

.botoningresar {
    padding: 10px 20px;
    color: black;
    text-decoration: underline;
    font-weight: 700;
    border: solid 1px;
    border-radius: 10px;
    background-color: aquamarine;
  }
