<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid">
            <div class="text-center">
                <!--Inicio verificacion error-->
                <h2 class="display-4" th:if="${codigo != null}" th:text="'Error ' + ${codigo}"></h2>
                <!--Fin verificacion error-->

                <p class="lead" th:if="${codigo != null}" th:text="${mensaje == null ? 'Intenta nuevamente' : mensaje}"
                   style="color:green"></p>
            </div>
        </div>
    </body>
</html>
